<%/* TODO: converting datetime to correct format is hacky */%>
<form action="<%= editing ? '/edit-flight' : '/add-flight' %>" method="POST">

    <label title="squadLeaderId">User ID: </label>
    <input type="number" name="leaderId" value="<% if (editing) { %><%=flight.leaderId%><%}%>">
    <br>

    <label title="capacity">Squad Capacity: </label>
    <input type="number" name="capacity" value="<% if (editing) { %><%=flight.capacity%><%}%>">
    <br>

    <label title="rendezvous">Rendezvous @: </label>
    <input type="text" name="rendezvous" value="<% if (editing) { %><%=flight.rendezvous%><%}%>">
    <br>

    <label title="destination">Destination @: </label>
    <input type="text" name="destination" value="<% if (editing) { %><%=flight.destination%><%}%>">
    <br>

    <label title="dateTime">Date/Time: </label>
    <input type="datetime-local" name="dateTime" value="<% if (editing) { %><%=flight.dateTime.toLocaleString().replace(' ', 'T')%><%}%>">

    <input type="hidden" name="id" value="<% if (editing) { %><%=flight.id%><%}%>">

    <br>
    <button type="submit">
        <%= editing ? 'Update Flight' : 'Add Flight' %>
    </button>
</form>