<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/flights.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h2>
            Flight on
            <%= flight.dateTime.toLocaleString() %>
        </h2>
        <h2>
            Rendezvous @
            <%= flight.rendezvous %>
            to go to
            <%= flight.destination %>
        </h2>
        <form action="/edit-flight/<%= flight.id %>" method="GET">
            <button type="submit">Edit Flight</button>
        </form>
        <form action="/delete-flight" method="POST">
            <input type="hidden" name="id" value="<%= flight.id %>">
            <button type="submit">Delete Flight</button>
        </form>
        <form action="/squads" method="POST">
            <input type="hidden" name="id" value="<%= flight.id %>">
            <button type="submit">Join Squad</button>
        </form>
    </main>
    <%- include('includes/end.ejs') %>