<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/flights.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1>
            Your Squads
        </h1>
        <% if (squads.length > 0) { %>
        <div class="grid">
            <ul>
                <% for (let flight of squads) { %>
                <li>
                    <a href="/flights/<%= flight.id %>"><%= flight.dateTime %> </a>
                    <form action="/delete-flight-from-squad" method="POST">
                        <input type="hidden" name="id" value="<%= flight.id %>">
                        <button type="Submit">Drop</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
        <% } else { %>
            <h3>You are currently not a member of any squads!</h3>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>