<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1>All Squads!</h1>
        <% if (squads.length > 0) { %>
        <div class="grid">
            <ul>
                <% for (let squad of squads) { %>
                <li>
                    <a href="/squads/<%= squad.id %>">
                        <%= squad.dateTime.toLocaleTimeString() %> at
                        <%= squad.rendezvous %> to
                        <%= squad.destination %>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
        <% } else { %>
        <h3>No Squads Listed</h3>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>